1_simulations_and_tuning/simulation_data_statistics_constant_attack/
1_simulations_and_tuning/simulation_data_statistics_random_attack/
1_simulations_and_tuning/simulation_data_statistics_sinusoildal_attack/
2_platooning_experiments_data_processing/rebuttal_experiments/platoon_ACC_vs_CACC_for_videoAcc_vs_CACC_good.mp4
