1_simulations_and_tuning/simulation_data_statistics_constant_attack
1_simulations_and_tuning/simulation_data_statistics_random_attack
1_simulations_and_tuning/simulation_data_statistics_sinusoildal_attack